<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new League</title>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Add a new League</h1>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
        </div>
    </div>
    <div id = "content" style = "background-color: #EEEEEE; text-align: center">
        <form action="/add/add_new_league", method = "post">
            League name: <input type="text" name = "leaguename" placeholder="league name" id="league_id"/><br>
            Commissioner: <input type="text" name = "commissioner" placeholder="commissioner"/><br>
            SSN: <input type="text" name = "ssn" placeholder="ssn" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"><br>
            <button onclick="myFunction1()">Submit </button> <br>
            <span style ="color: red">{{error}} </span><br>
            <span style ="color: green">{{result}} </span><br>
            <script type ="text/javascript">
                function myFunction1(){
                    if (document.getElementById("league_id").value ==""){
                        alert('Cannot be null!');
                        return false;
                    }
                    return true;
                }
            </script>
        </form>
</body>
</html>