<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Menu</title>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Delete Menu</h1>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
        </div>
    </div>
    <div id = "content" style = "background-color: #EEEEEE; text-align: center">
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete/delete_team'">Delete a team</button><br>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete/delete_league'">Delete a league</button><br>
    </div>
</body>
</html>