<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename ='jquery.json-viewer.js')}}"></script>
    <link href="{{url_for('static', filename ='jquery.json-viewer.css')}}" type="text/css" rel="stylesheet">
    <title>Add a new game</title>
    <style>
        table {
            width: 500px;
            margin: 100px auto;
            border-collapse: collapse;
            text-align: center;
        }

        td,
        th {
            border: 1px solid #333;
        }

        thead tr {
            height: 40px;
            background-color: #ccc;
        }
    </style>
    <script>
            $(function() {
                function renderJson() {
                    var input = eval('(' + $('#json-input').val() + ')');
                    var options = {
                        collapsed: $('#collapsed').is(':checked'),
                        rootCollapsable: $('#root-collapsable').is(':checked'),
                        withQuotes: $('#with-quotes').is(':checked'),
                        withLinks: $('#with-links').is(':checked')
                    };
                    $('#json-renderer').jsonViewer(input, options);
                }
            // Generate on click
            $('#btn-json-viewer').click(renderJson);
            // Generate on option change
            $('p.options input[type=checkbox]').click(renderJson);
            // Display JSON sample on page load
            renderJson();
            });
        </script>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Generate random games</h1>
                    <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button><br>
            <div style="text-align: right">
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/add/add_new_game'">Manual adding</button>
            </div>
        </div>

    </div>
    <div id = "content" style = "background-color: #EEEEEE; text-align: center">
        <b>Generate random games</b>

            <textarea id="json-input" autocomplete="off" style="display: none">{{db_table}}</textarea><br>
            <object id="list" autocomplete="off" style="display: none">{{list}}</object><br>

                        <pre id = "json-renderer" ></pre>
        <form action="/add/add_new_game/generate_random_table_choose", method = "post">
            League name: <input type="text" name ="leaguename" placeholder="league name"><br>
            Season name: <input type="number" name = "seasonname" placeholder="season name"
                                onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')"><br>
            Team1 name:<input type="text" name = "teamnamea" placeholder="teamA name"><br>
            Team2 name:<input type="text" name = "teamnameb" placeholder="teamB name"><br>
            Game date: <input type="date" name = "gamedate" placeholder="mm/dd/yy" id = "seasonbegindate"><br>
            <button onclick>Submit</button><br>
            <span style ="color: red">{{error}} </span><br>
            <span style ="color: green">{{result}} </span><br>
        </form>

        <!--<div id = "table">
            <table cellspacing="0">
                    <thead>
                    <tr>
                        <th>Team 1 </th>
                        <th>Team 2</th>
                        <th>Date </th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                        <tbody>

                        </tbody>
            </table>
            <script>
                    //var dates = document.getElementById('json-input').value;
                    //var datas = [{'team1': 'yes1', 'team2': 'yes2'}, {'team1': 'no1', 'team2': 'no2'}]
                    //var datas =  [{'0': 'rocket4', '1': 'fsere'}, {'0': 'fsere', '1': 'rocket5'}, {'0': 'rocket2', '1': 'rocket8'}, {'0': 'rocket10', '1': 'fsere'}, {'0': 'rocket2', '1': 'rocket10'}, {'0': 'rocket4', '1': 'rocket5'}, {'0': 'rocket9', '1': 'fsere'}, {'0': 'rocket2', '1': 'rocket6'}, {'0': 'rocket4', '1': 'rocket8'}, {'0': 'rocket9', '1': 'rocket8'}]
                    var datas = {{db_table}}
                    var tbody = document.querySelector('tbody');
                    for (var i = 0; i < datas.length; i++) {
                        // 创建行tr
                        var tr = document.createElement('tr');
                        // 创建的行tr添加给tbody
                        tbody.appendChild(tr);
                        // 内层for循环， 创建每一行中的所有单元格td
                        for (var k in datas[i]) {
                            //创建td元素
                            var td = document.createElement('td');
                            //将每个对象中的属性值传给td
                            td.innerHTML = datas[i][k];
                            //给tr添加td子元素
                            tr.appendChild(td);
                        }
                        //在每行加入date选择器
                        var date = document.createElement('tdate');
                        date.innerHTML = "<input type='date' name = 'gamedate' placeholder='mm/dd/yy'>"
                        tr.appendChild(date)
                        //在每一行的最后，添加一个td，内容为a标签'delete'；
                        var td = document.createElement('td');
                        // 把a标签的'delete' 传给td
                        td.innerHTML = "<a href ='javasript:;'>delete</ a>";
                        tr.appendChild(td);
                    }
                    //以上表格创建完成
                    // 删除元素
                    // 获取元素
                    var as = document.querySelectorAll('a');
                    // 添加事件
                    for (var i = 0; i < as.length; i++) {
                        as[i].onclick = function () {
                            tbody.removeChild(this.parentNode.parentNode);
                        }
                    }
            </script>

            <button onclick>Submit</button><br>
            <span style ="color: red">{{error}} </span><br>
            <span style ="color: green">{{result}} </span><br>
        </div>
        -->



    </div>
</body>
</html>