<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<style>
body{text-align:center}
</style>
<body>
<div id="container">

<div id="header" style="background-color:#18def4;">
<h1 style="margin-bottom:0; text-align: center;">Menu</h1></div>

<div id="menu" style="background-color:#eeede8fd;">
    <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
    <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
    <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
    <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
</div>


</div>
</body>
</html>