<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Move team</title>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Update the current date</h1>
                    <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
        </div>
    </div>
    <div id = "content" style = "background-color: #EEEEEE; text-align: center">
        <form action="/modify/modify_date", method="post">
            <b>Update the current date:</b><br>
            update the current date:<input type = "date" name = "update" placeholder="update the date mm/dd/yy">
            <button onclick>Submit</button><br>
            <span style ="color: red">{{error}} </span><br>
            <span style ="color: green">{{result}} </span><br>
        </form>
    </div>
</body>
</html>