<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Move team</title>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Move team</h1>
                    <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
        <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
        </div>
    </div>
    <div id = "content" style = "background-color: #EEEEEE; text-align: center">
        <form action="/modify/modify_move_team", method="post">
            Team name: <input type = "text" name = "moveteamname" placeholder="team name"><br>
            <!--Current league name: <input type = "text" name = "leaguenamenow" placeholder="current league name"><br> -->
            Future league name: <input type = "text" name = "leaguenamefuture" placeholder="future league name">
            <button onclick>Submit</button><br>
            <span style ="color: red">{{error}} </span><br>
            <span style ="color: green">{{result}} </span><br>
        </form>
    </div>
</body>
</html>