<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query detail league</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename ='jquery.json-viewer.js')}}"></script>
    <link href="{{url_for('static', filename ='jquery.json-viewer.css')}}" type="text/css" rel="stylesheet">
            <script>
            $(function() {
                function renderJson() {
                    var input = eval('(' + $('#json-input').val() + ')');
                    var options = {
                        collapsed: $('#collapsed').is(':checked'),
                        rootCollapsable: $('#root-collapsable').is(':checked'),
                        withQuotes: $('#with-quotes').is(':checked'),
                        withLinks: $('#with-links').is(':checked')
                    };
                    $('#json-renderer').jsonViewer(input, options);
                }
            // Generate on click
            $('#btn-json-viewer').click(renderJson);
            // Generate on option change
            $('p.options input[type=checkbox]').click(renderJson);
            // Display JSON sample on page load
            renderJson();
            });
        </script>

</head>
<body>
    <div id = "container">
        <div id = "header" style="background-color: #18def4;">
            <h1 style = "margin-bottom: 0; text-align: center;">Team detail information query</h1>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/add'">Add</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/query'">Query</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/modify'">Modify</button>
            <button onclick ="window.location.href= 'http://127.0.0.1:5000/delete'">Delete</button>
        </div>
    </div>

        <form action = "/query/query_detail_team" method = "post">
            <div id = "content" style = "background-color: #EEEEEE; text-align: center">
                Team name: <input type="text" name = "teamname" placeholder="team name">
                <input type="submit" value="Query" ><br>
                <span style ="color: red">{{error}} </span><br>
            </div>
            <div id = "result" style="display: block;text-align: center">
                team name: <span>{{team_name}}</span><br>
                state name: <span>{{state}}</span><br>
                city name: <span>{{city}}</span><br>
                field: <span>{{field}}</span><br>
                rating: <span>{{rating}}</span><br>
                <textarea id="json-input" autocomplete="off" style="display: none">{{team_game}}</textarea>
                team game:<br>
            </div>
            <div id = "result" style="margin: 0 auto; width:min-content" >

                <pre id = "json-renderer"></pre>
            </div>
        </form>

</body>
</html>